.loaderContainer {
  width: 100px;
  height: 100px;
  padding: 10px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loaderContainerLg {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.516);
  backdrop-filter: blur(2px);
  z-index: 9999;
}

.loader {
  position: relative;
  height: 50px;
  width: 200px;
  border-bottom: 3px solid #ff3d00;
  box-sizing: border-box;
  animation: drawLine 4s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  left: calc(100% + 14px);
  bottom: -6px;
  width: 16px;
  height: 100px;
  border-radius: 20px 20px 50px 50px;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(#ff3d00 6px, transparent 0),
    linear-gradient(45deg, rgba(0, 0, 0, 0.02) 49%, white 51%),
    linear-gradient(315deg, rgba(0, 0, 0, 0.02) 49%, white 51%),
    linear-gradient(
      to bottom,
      #ffffff 10%,
      #ff3d00 10%,
      #ff3d00 90%,
      #ffffff 90%
    );
  background-size:
    3px 3px,
    8px 8px,
    8px 8px,
    16px 88px;
  background-position:
    center bottom,
    left 88px,
    right 88px,
    left top;
  transform: rotate(25deg);
  animation: pencilRot 4s linear infinite;
}

@keyframes drawLine {
  0%,
  100% {
    width: 0px;
  }
  45%,
  55% {
    width: 200px;
  }
}

@keyframes pencilRot {
  0%,
  45% {
    bottom: -6px;
    left: calc(100% + 14px);
    transform: rotate(25deg);
  }
  55%,
  100% {
    bottom: -12px;
    left: calc(100% + 16px);
    transform: rotate(220deg);
  }
}

/* Loader Progress */
.loaderContainer:has(.loaderProgress) {
  top: 80%;
  right: 0%;
}

.loaderProgress {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  transform: rotate(45deg);
  background: #fff;
}
.loaderProgress::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 20px solid #ff3d00;
  animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
